Package: cstbox-ext-mqtt
Version: 1.0.0
Section: base
Priority: optional
Architecture: all
Depends: cstbox-core(>=1.0.3), paho-mqtt[>=1.1]
Maintainer: Eric Pascual <eric.pascual@cstb.fr>
Description: CSTBox MQTT gateway
    This package adds a gateway between the CSTBox internal message bus and
    an external MQTT one.
